@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<style>

    @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
    }

    .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        margin-left: -28px;
        margin-bottom: 40px;
    }

        .title::before {
            content: "";
            position: absolute;
            left: 36%;
            bottom: 0;
            height: 3px;
            width: 30px;
            border-radius: 5px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }

    form .input-box, .button {
        margin-bottom: 15px;
        width: 40%;
        min-width: 300px;
        max-width: 400px
    }

        form .input-box span.details {
            display: block;
            font-weight: 500;
            margin-bottom: 5px;
        }

    .input-box input {
        height: 45px;
        width: 100%;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 15px;
        border: 1px solid #ccc;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
    }

        .input-box input:focus,
        .input-box input:valid {
            border-color: #9b59b6;
        }


    form .button {
        height: 45px;
        margin: 35px 0
    }

        form .button input {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }

            form .button input:hover {
                background: linear-gradient(-135deg, #71b7e6, #9b59b6);
            }

</style>





<h2 class="title input-box">Reset your password.</h2>
<div class="  d-flex align-items-center justify-content-center">

    <hr />
    @*<div class="col-md-6">*@
    <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="input-box">
            <span class="details">Email</span>
            <input asp-for="Input.Email" class="form-control" autocomplete="current-email" aria-required="true">
            <span asp-validation-for="Input.Email" class="text-danger small"></span>
        </div>
        <div class="input-box">
            <span class="details">Password</span>
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true">
            <span asp-validation-for="Input.Password" class="text-danger small"></span>
        </div>
        <div class="input-box">
            <span class="details">Confirm Password</span>
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
        </div>
        <div class="button">
            <input type="submit" value="Update password">
        </div>
    </form>
    @*</div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
