@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<link href="~/css/form-button.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
        <h3 class="title">@ViewData["Title"]</h3>

        <div class="alert alert-warning" role="alert">
            <p>
                <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
            </p>
        </div>

        <div>
            <form id="delete-user" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.RequirePassword)
                {
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input asp-for="Input.Password" placeholder="Password" autocomplete="current-password" aria-required="true">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                }
                <button class="w-100 btn btn-lg btn-danger" type="submit">Delete data and close my account</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
