@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<style>
    .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
        margin-bottom: 10px;
    }

        .title::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            border-radius: 5px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }

    form .input-box {
        margin-bottom: 15px;
        width: calc(100%);
    }

        form .input-box span.details {
            display: block;
            font-weight: 500;
            margin-bottom: 5px;
        }

    .input-box input {
        height: 45px;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 15px;
        border: 1px solid #ccc;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
        width: 100%;
    }

        .input-box input:focus,
        .input-box input:valid {
            border-color: #9b59b6;
        }

    form .button {
        height: 45px;
        margin: 35px 0
    }

        form .button input {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }

            form .button input:hover {
                background: linear-gradient(-135deg, #71b7e6, #9b59b6);
            }

    .fa-circle-check {
        color: linear-gradient(135deg, #71b7e6, #9b59b6);
    }
</style>

<div class="title">@ViewData["Title"]</div>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @*  @if (Model.IsEmailConfirmed)
            {
            <div class="form-floating input-group">
            <input asp-for="Email" class="form-control" disabled />
            <div class="input-group-append">
            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
            </div>
            <label asp-for="Email" class="form-label"></label>
            </div>
            }
            else
            {
            <div class="form-floating">
            <input asp-for="Email" class="form-control" disabled />
            <label asp-for="Email" class="form-label"></label>
            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
            </div>
            }*@
            <div class="input-box">
                <span class="details">Email</span>
                <input type="email" asp-for="Email" disabled>
                @if (Model.IsEmailConfirmed)
                {
                    <i class="fa-regular fa-circle-check"></i>
                }
                else
                {
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }

            </div>
            <div class="input-box">
                <span class="details">New Email</span>
                <input type="email" asp-for="Input.NewEmail" placeholder="Enter your email" autocomplete="email" aria-required="true">
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            @*<div class="form-floating">
            <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
            <label asp-for="Input.NewEmail" class="form-label"></label>
            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>*@
            @*<button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Change email</button>*@
            <div class="button">
                <input type="submit" asp-page-handler="ChangeEmail" value="Change email">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
