@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<link href="~/css/form-button.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h3 class="title">@ViewData["Title"]</h3>
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" class="d-inline" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p class="d-inline">
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
