
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
}

html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .people-list .about {
        display: none;
    }
}

html {
    position: relative;
    min-height: 100%;
}

/*body {
    margin-bottom: 60px;
}*/

.title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 10px;
}

    .title::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        border-radius: 5px;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }


.button {
    height: 40px;
    margin: 0px 0
}

    .button button {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }

        .button button:hover {
            background: linear-gradient(-135deg, #71b7e6, #9b59b6);
        }

.select2-container .select2-selection--single {
    height: 39px;
}

.select2-search__field:focus-visible {
    outline: none;
    border-radius: 2px;
}

.card-header {
    background-color: #fff !important;
}
